<div class="ui container">
  <br>
  <div class="row">
    <%= column_chart pesquisas_chart_path %>
  </div>
  <div class="row">
    <% @cards.each do |card| %>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content white-text" style="height: 150px">
          <span class="card-title"><%= card[0] %></span>
          <p><%= card[1] %></p>
        </div>
        <div class="card-action">
          <%= link_to "Descubra", card[2] %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
