<div class="ui center very padded container segment">
  <h1 class="ui center header"><%= @pergunta %></h1>
  <h3 class="ui center header"><%= @query.to_sql %></h3>

  <%= pie_chart quant_aulas_chart_path %>

  <ul class="pagination">
    <% if params[:page] == '1' %>
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
    <% else %>
    <li>
      <%= link_to quant_aulas_path(params[:page].to_i-1) do%>
      <i class="material-icons">chevron_left</i>
      <% end %>
    </li>
    <% end %>
    <li class="active"><a href="#!"><%= params[:page] %></a></li>
    <li class="waves-effect">
      <%= link_to quant_aulas_path(params[:page].to_i+1) do%>
      <i class="material-icons">chevron_right</i>
      <% end %>
    </li>
  </ul>

  <table class="highlight centered">
    <thead>
      <tr>
        <th>idTurma</th>
        <th>Quantidade de Aulas</th>
      </tr>
    </thead>

    <tbody>
      <% @query.each do |t| %>
      <tr>
        <td><%= t.idTurma %></td>
        <td><%= t.DiasPorSemana %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
