<!DOCTYPE html>
<html>
<head>
  <title>Curiosidades Ensino Médio e Fundamental</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Censo Escolar 2015', pesquisas_path, :class => 'brand-logo left',
        :style => 'margin-left:1%' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- <li>
            <%# link_to new_pesquisa_path do %>
            <i class="material-icons">search</i>
            <%# end %>
          </li> -->
          <li>
            <%= link_to pesquisas_path do %>
            <i class="material-icons">view_module</i>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <%= yield %>
</body>
</html>
